.section-about {
  background: url(../../../../assets/images/bg-shape-section-about.png) no-repeat top -370px center;
  background-size: cover;

  & .token-t {
    border-radius: 100%;
    box-shadow: 0 3px 13px 1px rgba(153, 134, 233, 0.48);
  }

  & .text-gradient {
    background: linear-gradient(289deg, #227ed2, #54ebb4 12%, #7cc3ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.section-video {
  @apply py-10 xl:py-[6.5rem];

  background-color: #2f363d;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#0d1117),
      color-stop(15%, rgba(13, 17, 23, 0))
    ),
    -webkit-gradient(linear, left top, left bottom, from(#0d1117), color-stop(15%, rgba(13, 17, 23, 0))),
    radial-gradient(circle farthest-side at 50% 0%, rgba(13, 17, 23, 0), #0d1117),
    url(../../../../assets/svg/bg-tile-dark.svg);
  background-image: linear-gradient(0deg, #0d1117, rgba(13, 17, 23, 0) 15%),
    linear-gradient(180deg, #0d1117, rgba(13, 17, 23, 0) 15%),
    radial-gradient(circle farthest-side at 50% 0%, rgba(13, 17, 23, 0), #0d1117),
    url(../../../../assets/svg/bg-tile-dark.svg);
  background-position: 0px 0px, 0px 0px, 0px 0px, -1px -1px;
  background-size: auto, auto, auto, 64px;
}
