:root {
  --gradient-surf: linear-gradient(139deg, rgb(32, 129, 212), rgb(211, 38, 248) 73%, rgb(213, 36, 247)) text transparent;
  --gradient-2: radial-gradient(circle farthest-side at -25% -50%, rgb(67, 56, 202), rgba(255, 251, 235, 0)) text,
    linear-gradient(285deg, rgb(125, 211, 252), rgb(239, 72, 72)) transparent;
  --gradient-earn: linear-gradient(141deg, rgb(34, 126, 210), rgb(84, 235, 180) 58%, rgb(124, 195, 255)) text
    transparent;
}

.presale-grid-view {
  background-color: #56595b;
  background-image: linear-gradient(0deg, #0d1117, rgba(13, 17, 23, 0) 15%),
    linear-gradient(180deg, #0d1117, rgba(13, 17, 23, 0) 15%),
    radial-gradient(circle farthest-side at 50% 0%, rgba(13, 17, 23, 0), #0d1117),
    url("../../../../assets//svg/surf-grid-view-bg.svg");
  background-position:
    0px 0px,
    0px 0px,
    0px 0px,
    -1px -1px;
  background-size: auto, auto, auto, 64px;
}

h1.presale-gradient-text-SURF {
  background: var(--gradient-surf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1.presale-gradient-text-2 {
  background: var(--gradient-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1.presale-gradient-text-EARN {
  background: var(--gradient-earn);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// .btn {
//   @apply text-[30px] 2xl:text-[34px] px-4 py-[20px] font-medium text-white flex items-center justify-center;
//   &.btn-audit {
//     transition: all 0.15s ease-in-out;
//     box-shadow: inset 0 0 0 1px #474f58;

//     &:hover {
//       box-shadow: inset 0 0 0 2px #fff;
//     }
//   }
// }
