// updated


.bg-underline-jobs {
  background-color: #312e81;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#0d1117),
      color-stop(15%, rgba(13, 17, 23, 0))
    ),
    -webkit-gradient(linear, left top, left bottom, from(#0d1117), color-stop(15%, rgba(13, 17, 23, 0))),
    radial-gradient(circle farthest-side at 50% 50%, rgba(13, 17, 23, 0), #0d1117),
    url(../../assets/svg/bg-tile-dark.svg);
  background-image: linear-gradient(0deg, #0d1117, rgba(13, 17, 23, 0) 15%),
    linear-gradient(180deg, #0d1117, rgba(13, 17, 23, 0) 15%),
    radial-gradient(circle farthest-side at 50% 50%, rgba(13, 17, 23, 0), #0d1117),
    url(../../assets/svg/bg-tile-dark.svg);
  background-position: 0px 0px, 0px 0px, 0px 0px, -1px -1px;
  background-size: auto, auto, auto, 64px;
}



.job-title {
  @apply text-[48px] md:text-[64px] xl:text-[96px] text-center;

  color: #c5cfd9;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -0.03em;

  &-gradient {
    padding-right: 0.05em;
    background-image: linear-gradient(241deg, #9333ea 20%, #4f46e5 56%, #6366f1 84%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
 
// updated