.grow-and-search-icon {
  display: flex;
  width: 4.5rem;
  height: 4.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 3px;
  border-color: #818cf8;
  border-radius: 9999px;
  background-color: #4338ca;
  background-image: radial-gradient(circle farthest-side at -50% 50%, #4f46e5, #4338ca);
  box-shadow: inset 0 0 5px 0 #3730a3, 0 8px 24px -8px #818cf8;
  color: #c7d2fe;
  font-size: 1.25em;
  text-align: center;
}

.grid-item {
  @apply relative;
}

.border-left {
  @apply w-[1px] bg-[#2f363d] absolute top-0 right-[-20px];
}

.border-bottom {
  @apply h-[1px] bg-[#2f363d] absolute bottom-[-20px] right-0 left-0;
}
